<div class="contanier-fluid">
  <div>
    <div class="d-flex flex-column mb-3 position-absolute text-white justify-content-between">
      <div>
        <mat-toolbar-row class=" d-flex justify-content-end align-items-center px-5 pt-3" style="width: 95rem;">

          <div class="row text-nowrap" style="font-size: 1.3rem;cursor: pointer;">
            <span class="col ">Add Restaurants</span>
            @if (service.storage()) {
              <span class="col" (click)="LogOut()">Log Out</span>
            }
            @else {
              <span class="col" (click)="openSignUpPage('login')">Log In</span>
              <span class="col" (click)="openSignUpPage('signUp')">Sign Up</span>
            }

            
           
          </div>


        </mat-toolbar-row>
      </div>
     
        <div class="d-flex align-items-center  flex-column pt-5">
          <div style="height: 4rem;width: 17rem;" class="position-relative my-4">
            <img src="./assets/zomato.avif" alt="" class="position-absolute" height="100%" width="100%">
          </div>
          
          <h2 style="font-size: 35px;
    font-weight: 400;" class="pb-5 pt-2">
            Discover the best food & drinks in Agra</h2>
        </div>
        <div style="width: 95rem;top:30%">
          <app-search-bar></app-search-bar>
        </div>
      </div>
      
   







    <img src="./assets/food.png" alt="" class="home-back">
  </div>
  <div class="d-flex flex-column m-auto" style="width: 70%;">
    <div class="row py-5 " style="width: fit-content;">
      <div class="card col mx-3 p-0 position-relative food-card" routerLink="/zomato"  [queryParams]="{ active:['Home', 'Products']}">
        <img class="card-img-top " src="./assets/order-online.avif" alt="Card image cap" height="60%">
        <div class="card-body p-3 " style="height:40%" >
          <h5 class="card-title">Order Online</h5>
          <p class="card-text">Stay home and order to your doorstep</p>

        </div>
      </div>
      <div class="card food-card col  mx-1 p-0">
        <img class="card-img-top" src="./assets/dining.avif" alt="Card image cap" height="60%">
        <div class="card-body  p-3">
          <h5 class="card-title">Dining</h5>
          <p class="card-text">View the city's favourite dining venues</p>

        </div>
      </div>
      <div class="card food-card col  mx-3 p-0">
        <img class="card-img-top" src="./assets/liveEvents.jpeg" alt="Card image cap" height="60%">
        <div class="card-body  p-3">
          <h5 class="card-title">Live Events</h5>
          <p class="card-text">Discover India’s best events & concerts.</p>

        </div>
      </div>

    </div>
    <div class="row  py-3" style="width: fit-content;">
      <h1>Collections</h1>
      <h6 style="font-weight: 300;
    font-size: 18px;">Explore curated lists of top restaurants, cafes, pubs, and bars in Bengaluru, based on trends
      </h6>
      <div class="card col mx-1 p-0 position-relative" style="width:17rem ;height: 20rem">
        <img class="card-img-top " src="./assets/top-spot.avif" alt="Card image cap" height="100%">
        <div class="card-body p-3 position-absolute text-white" style="bottom: 0%;">
          <h5 class="card-title">Order Online</h5>
          <p class="card-text">Stay home and order to your doorstep</p>

        </div>
      </div>
      <div class="card col  mx-1 p-0 position-relative" style="width:17rem ;height: 20rem;">
        <img class="card-img-top " src="./assets/roof-top.avif" alt="Card image cap" height="100%">
        <div class="card-body position-absolute p-3 text-white" style="bottom: 0%;">
          <h5 class="card-title">Dining</h5>
          <p class="card-text">View the city's favourite dining venues</p>

        </div>
      </div>
      <div class="card col  mx-1 p-0 position-relative" style="width:17rem ;height: 20rem">
        <img class="card-img-top " src="./assets/order-online.avif" alt="Card image cap" height="100%">
        <div class="card-body position-absolute text-white p-3" style="bottom: 0%;">
          <h5 class="card-title">Live Events</h5>
          <p class="card-text">Discover India’s best events & concerts.</p>

        </div>
      </div>
      <div class="card col  mx-1 p-0 position-relative" style="width:17rem ;height: 20rem">
        <img class="card-img-top " src="./assets/iftan.webp" alt="Card image cap" height="100%">
        <div class="card-body position-absolute text-white p-3" style="bottom: 0%;">
          <h5 class="card-title">Ifter Special</h5>
          <p class="card-text">16 places</p>

        </div>
      </div>

    </div>
  </div>
</div>