.food-card{
    width: 22rem;
    height:15rem;
    transition: transform 0.4s ease-in-out;

}

.food-card:hover{
    transform: scale(1.05);
}

.home-back{
    width: 100%; /* Adjust width as needed */
    height: 500px; /* Adjust height as needed */
    /* background-size: 100% 200%; */
    /* opacity: 0.8; */
    
    /* background-position: center top; 
    background-repeat: no-repeat; */
 
}